.translate {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 38px;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 20px;
    border: none;
  }

  button {
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
  }
  p {
  }
}
