#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.typescript_img {
  border-radius: 20px;
}

.card {
  padding: 2em;
}

.exercice {
  font-size: 18px;
}

.version {
  font-size: 14px;
}
